body {
  font-family: Arial, Helvetica, sans-serif;
}
  
h1 {
  color: rgb(12, 69, 144);
  font-size: 24px;
  font-weight: 200;
  line-height: 28px;
  margin-bottom: 0;
}
  
ul {
  margin: 0;
  padding: 0;
}
  
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(12, 69, 144);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
a {
  text-decoration: none;
}

footer {
  padding-top: 10px;
  text-align: center;
}

#description {
  text-transform: capitalize;
}
  
.weather-app-wrapper {
    max-width: 700px;
    margin: 30px auto;
  
}
  
.weather-app {
  background: linear-gradient(#3a7bd5,#00d2ff);
  padding: 20px;
  border: 1px solid ;
  border-radius: 5px;
  box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.4);
}

.overview {
  margin-bottom: 20px;
}

.form-control {
  box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.4);
  background-color: aliceblue;
}

.search-button {
  box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.4);
}

.weather-temperature {
  display: flex;
  margin: 20px 20px 20px 0;
}

.weather-temperature img {
  margin-right: 5px;
  height: 65px;
  width: 65px;
}

.weather-temperature strong {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature units {
  position: fixed;
  font-size: 64px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.temperature-float-left {
  display: contents;
}

.weather-forecast {
margin-top: 20px;
text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: .6;
}

.weather-forecast-temp {
  font-size: 13px;
}

.weather-forecast-temp-min {
  opacity: .6;
}

.weather-forecast-date img{
  font-size: 14px;
}

.card {
  background-color: #21A2E8;
  border: .5px solid rgb(12, 69, 144);
  box-shadow: -2px 2px 9px rgba(0, 0, 0, 0.4);
}